In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Sales_January_2019.csv')

In [3]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234.0,iPhone,1.0,700.00,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235.0,Lightning Charging Cable,1.0,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236.0,Wired Headphones,2.0,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237.0,27in FHD Monitor,1.0,149.99,01-05-2019 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238.0,Wired Headphones,1.0,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"
...,...,...,...,...,...,...
995,142184.0,AAA Batteries (4-pack),2.0,2.99,01/23/19 13:15,"342 13th St, Los Angeles, CA 90001"
996,142185.0,Bose SoundSport Headphones,1.0,99.99,01/16/19 14:02,"208 West St, Boston, MA 02215"
997,142186.0,34in Ultrawide Monitor,1.0,379.99,01/30/19 18:42,"505 Wilson St, Los Angeles, CA 90001"
998,142187.0,20in Monitor,1.0,109.99,01/30/19 20:39,"903 Maple St, Portland, OR 97035"
999,142188.0,USB-C Charging Cable,1.0,11.95,01/25/19 13:49,"347 11th St, Los Angeles, CA 90001"

In [4]:
df['Sales'] = df['Quantity Ordered'] * df['Price Each']

In [26]:
new_df = df.groupby('Order Date').sum()

AttributeError: 'function' object has no attribute 'groupby'