In [3]:
import pandas as pd
import os

In [6]:
os.listdir()

['.ipynb_checkpoints', 'Sales_April_2019.csv', 'Untitled.ipynb']

In [7]:
df = pd.read_csv('Sales_April_2019.csv')

In [8]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,176559,Bose SoundSport Headphones,1,99.99,04-07-19,"682 Chestnut St, Boston, MA 02215"
2,176560,Google Phone,1,600,04-12-19,"669 Spruce St, Los Angeles, CA 90001"
3,176560,Wired Headphones,1,11.99,04-12-19,"669 Spruce St, Los Angeles, CA 90001"
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
994,177504,USB-C Charging Cable,1,11.95,04-10-19,"19 Cedar St, Boston, MA 02215"
995,177505,ThinkPad Laptop,1,999.99,04/30/19 16:04,"823 Johnson St, Seattle, WA 98101"
996,177506,iPhone,1,700,04-02-19,"656 Pine St, Los Angeles, CA 90001"
997,177506,Apple Airpods Headphones,1,150,04-02-19,"656 Pine St, Los Angeles, CA 90001"
998,177507,AAA Batteries (4-pack),1,2.99,04-09-19,"825 2nd St, Portland, OR 97035"

In [ ]:
df.removena